.card {
    padding: 15px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.item {
    border: 1px solid gray;
}
.product_detail {
    border: 1px solid rgb(214, 214, 214);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.product_detail .btn {
    margin: 5px;
}