{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row text-center">
    <div class="col-md-12">
        <h1>Product Details</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row product_detail">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/child.svg') }}" class="card-img-top img-fluid" alt="Child">
            </div>
            <div class="col-md-6">
                <h5><strong>Product:</strong> Phone</h5>
                <p>
                    <strong>Description:</strong> <br>
                    Some quick example text to build on the card title 
                    and make up the bulk of the card's content. <br><br>
                    Some quick example text to build on the card title 
                    and make up the bulk of the card's content.
                </p>
                <p>
                    <strong>Specs:</strong> <br>
                    <ul>
                        <li>6GB RAM</li>
                        <li>128GB Storage</li>
                        <li>5000 mA</li>
                    </ul>
                </p>
                <h5><strong>Cost:</strong> $ 5</h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <button class="button is-primary btn btn-primary" id="checkout-button">Checkout</button>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-primary disabled">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}